@charset "utf-8";
@import "../node_modules/bulma/bulma.sass";

.button {
  border: 1px solid #202020;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, .1);
  background-image: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 100%); 
  padding: 0 1.5em;
  line-height: 2;
  height: auto;
  &.is-primary {
    border: 1px solid #202020;
    background: rgb(255,120,153);
    background: linear-gradient(90deg, rgba(255,120,153,1) 0%, rgba(255,64,64,1) 100%);
  }
  &.is-link {
    border: 1px solid #202020;
    background: rgb(188,164,206);
    background: linear-gradient(90deg, rgba(188,164,206,1) 0%, rgba(144,109,171,1) 100%);
  }
  &.is-info {
    border: 1px solid #202020;
    background: rgb(0,192,224);
    background: linear-gradient(90deg, rgba(0,192,224,1) 0%, rgba(0,144,208,1) 100%);
  }
  &.is-success {
    border: 1px solid #202020;
    background: rgb(104,200,136);
    background: linear-gradient(90deg, rgba(104,200,136,1) 0%, rgba(44,166,109,1) 100%);
  }
  &.is-warning {
    color: #ffffff;
    border: 1px solid #202020;
    background: rgb(251,96,100);
    background: linear-gradient(90deg, rgba(251,96,100,1) 0%, rgba(216,54,51,1) 100%);
    &:hover {
      color: #ffffff;
    }
  }
  &:hover,
  &.is-primary:hover,
  &.is-link:hover,
  &.is-info:hover,
  &.is-success:hover,
  &.is-warning:hover {
    filter: brightness(90%);
    border: 1px solid #202020;
  }
}
